
<h2 class="ms-1">Display all Questions: <%= link_to 'Log Out', student_login_url,  class: "btn btn-danger"%></h2>
<% if !@questions.blank? %>
  <% questionNumber = 1%>
  <% @questions.each do |question| %>
    <h6 class="ms-1">Question: <%= questionNumber %></h6>
    <h6 class="ms-1"><%= question.QuestionText %></h6>
    <%= form_for Answer.new do |f| %>
      <%= f.hidden_field :student_id, value: session[:user_id] %>
      <%= f.hidden_field :question_id, value: question.id %>
      
      <div class="mb-3">
        <label>Answer to the question</label>
        <%= f.text_field :response, class: 'form-control', placeholder: 'Enter answer' %>
      </div>
      <%= f.submit "Submit!", class: "btn btn-primary" %>
      <%questionNumber+=1%>
      <br/>
      <br/>
      <br/>
      <br/>
    <% end %>
  <% end %>
<% else %>
  <h6 class="ms-1">No questions found.</h6>
<% end %>




